<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("mainpage/1.jpg"   , class: "img-responsive ") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("mainpage/2.png" , class: "img-responsive ") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    
    <span class="sr-only">Next</span>
  </a>
</div>
</br>
</br>
<div class="row container">
  <div class = "col-md-4">
    <h2>Welcome</h2>
    <p>LARA SONAN
        CHIEF TRAINER

        LIFE 
        BODY 
        MIND
        Commodo turpis gravi ullamc uti commodo. Ut nequ ligula, fringilla utdi commodo sitam justo. Morbi temporbl porttitor. Praesent tincidunter pellentesque nulla hass sed. Urna ut mi molestie convalutase turpis estibulum et lorem diamed mi metus, eleifend vel tempor.
    </p>
  </div>
    <div class = "col-md-4">
      <h2>Sortly</h2>
      <p>
        LOREM IPSUM DOLO ADIPISCING ELIT PRAESENT TINCIDUNTER PEL.

        Commodo turpis gravi ullamc uti commodo. Ut nequ ligula, fringilla utdi commodo sitam justo. Morbi temporbl porttitor. Praesent tincidunter pellentesque nulla hass sed urna ut mi molestie convalutase. Turpis estibulum et lorem diamed mi metus, eleifend vel tempor.

        Turpis gravi ullamc uti commodo. Ut nequ ligula, fringilla utdi commodo sitam usto. Morbi temporbl porttito. Praesent tincidunter pellentesque nulla hass sed urna ut mimolestie convalutase. Turpis estibulum et lorem diamed mi metus, eleifend vel tempor.
      </p>
  </div>
    <div class = "col-md-4">
      <h2>Our Member</h2>
      <p>
           Turpis gravi ullamc uti commodo. Ut nequ ligula, fringilla utdi commodo sitam usto. Morbi temporbl porttito. Praesent tincidunter pellentesque nulla hass sed urna ut mimolestie convalutase. Turpis estibulum et lorem diamed mi metus, eleifend vel tempor.
      </p>
  </div>
</div>