 <div id="image_container" class = "main">
   
    <div id="header_data">
      <div class = "col-md-2">
      </div>
      <div class=" col-md-7">
         <center class = "sub-header"><h1>About US</h1></center> 
            </br>
            <p class="sub-header-data">
              The viewers are cordially welcomed to enter into the site of Academy of Pure Karate, here we have all the activities and achievements of academy. 
            </p>
     

      </div>

      <div class="list-group col-md-3" id="menu_position" >
          <a href="welcome/index" class="list-group-item">Home</a>
          <a href="/articles" class="list-group-item">Gallery</a>
          <a href="" class="list-group-item">Events</a>
          <a href="#" class="list-group-item">About Us</a> 
          <a href="/articles/new" class="list-group-item">Registration</a> 
      </div>
    </div>

    <div class = "container row">
       <div class = "col-md-2"></div>
    <div class = "col-md-7">
      Our Academy is running more than a decade and running successfully in Ajmer. We have created 2 Player for Asian Championship player who had represented INDIA in China(2011) as well as Uzbekistan(2013), 1 Player for World Championship held at Malaysia(2011), 2 Player for Commonwealth Championship held at Canada and one Player got Silver and Bronze Medal in that for INDIA. Apart from that from 2007 to till this year we are the only academy in Rajasthan who got regulary medal for Rajasthan where every Acadmey return back with empty hand. We have Uncountable Gold Medal in Open National And International Championships

      </div>
      <div class = "col-md-3">
        
      </div>
      
    </div>
  </br>
</div>